In [227]:
import pandas as pd
import numpy as np
import tax
import importlib
importlib.reload(tax)

In [228]:
intended_solution = pd.read_excel(
    'tax_schedule.xlsx',sheet_name='solution',index_col=0
)
intended_solution

,Oct-2023,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024
Opening Balance,0,0.000000,10717.256198,0.000000,27545.178389,67368.623334,0.000000,64300.113744,141369.994838,0.000000,115857.024073,257365.748921,0.000000,180179.046894,374875.882309
Tax Charged,0,10717.256198,2764.168106,27545.178389,39823.444945,48084.583193,64300.113744,77069.881094,90676.323123,115857.024073,141508.724848,162243.524526,180179.046894,194696.835415,204811.868831
Tax Paid,0,0.000000,-13481.424304,0.000000,0.000000,-115453.206527,0.000000,0.000000,-232046.317961,0.000000,0.000000,-419609.273447,0.000000,0.000000,-579687.751140
Closing Balance,0,10717.256198,0.000000,27545.178389,67368.623334,0.000000,64300.113744,141369.994838,0.000000,115857.024073,257365.748921,0.000000,180179.046894,374875.882309,0.000000

In [229]:
tax_data = pd.read_excel(
    'tax_schedule.xlsx',sheet_name='problem',index_col=0
)
tax_data

,Oct-2023,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024
Opening Balance,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tax Charged,0.0,10717.256198,2764.168106,27545.178389,39823.444945,48084.583193,64300.113744,77069.881094,90676.323123,115857.024073,141508.724848,162243.524526,180179.046894,194696.835415,204811.868831
Tax Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Closing Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The opening Balance is Oct-2023 is 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Tax is paid quarterly in Mar, Jun, Sep and Dec",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
tax_schedule_output = tax.calculate_tax_paid_quartely(
    data = tax_data,
    opening_balance='Opening Balance',
    tax_paid='Tax Paid',
    tax_charged='Tax Charged',
    closing_balance='Closing Balance',
    months='Mar|Jun|Sep|Dec'
)
tax_schedule_output

,Oct-2023,Nov-2023,Dec-2023,Jan-2024,Feb-2024,Mar-2024,Apr-2024,May-2024,Jun-2024,Jul-2024,Aug-2024,Sep-2024,Oct-2024,Nov-2024,Dec-2024
Opening Balance,0.00,0.00,"10,717.26",0.00,"27,545.18","67,368.62",0.00,"64,300.11","141,369.99",0.00,"115,857.02","257,365.75",0.00,"180,179.05","374,875.88"
Tax Charged,0.00,"10,717.26","2,764.17","27,545.18","39,823.44","48,084.58","64,300.11","77,069.88","90,676.32","115,857.02","141,508.72","162,243.52","180,179.05","194,696.84","204,811.87"
Tax Paid,0.00,0.00,"-13,481.42",0.00,0.00,"-115,453.21",0.00,0.00,"-232,046.32",0.00,0.00,"-419,609.27",0.00,0.00,"-579,687.75"
Closing Balance,0.00,"10,717.26",0.00,"27,545.18","67,368.62",0.00,"64,300.11","141,369.99",0.00,"115,857.02","257,365.75",0.00,"180,179.05","374,875.88",0.00